<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Website </title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/table.css">
   

</head>
<body background="/Images\blur-interior-background_43963-1471.avif">

<!-- header section starts  -->

<header class="header">
    <div class="hide"></div>

    <div class="logo"> 
    <img src="/Images\sofa.png">   
    <span> MueblesPick</span>
    </div>
    <nav class="navbar">
        <ul>
                    
            <li><a href="index">home</a></li>
            
            <li><a href="#features">features</a></li>
            <li><a href="#products">products</a>
                <ul>
                    <li><a href="table">Tables</a></li>
                    <li><a href="Chairs">Chairs</a></li>
                    <li><a href="bed">Beds</a></li>
                    <li><a href="desks">Desks</a></li>
                    <li><a href="dressers">Dressers</a></li>
                    <li><a href="cupboards">Cupboards</a></li>
                    <li><a href="sofa">Sofas</a></li>
                </ul>
            </li>
            <li><a href="#categories">categories</a>
                <ul>
                    <li><a href="Lr">Living Room</a></li>
                    <li><a href="kitchen">Kitchen</a></li>
                    <li><a href="bedroom">Bed Room</a></li>
                </ul>
            </li>
            <li><a href="#review">review</a></li>
            <li><a href="#blogs">blogs</a></li>
            
    
        </ul>
    </nav>

  


    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <a href="login">
            <div class="fas fa-user" id="login-btn"></div>
        </a>
        
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="/Images\Sofa-set-design-ideas-for-a-comfortable-living-room-FB-1200x700-compressed.jpg" alt="">
            <div class="content">
                <h3>Sofa</h3>
                <span class="price">₹25,000/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="/Images\modern-dining-table-blog-image-848x500.jpg" alt="">
            <div class="content">
                <h3>Table</h3>
                <span class="price">₹10,000/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="/Images\20200919-MNDY-Photography-Haus-of-Rattan-Furniture-Homewares-Photos-65.jpg" alt="">
            <div class="content">
                <h3>Chair</h3>
                <span class="price">₹5,000/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="total"> total : ₹40,000/- </div>
        <a href="#" class="btn">checkout</a>
    </div>

    

</header>
<h1 class="ribbon"> KIT<span>CHEN</span> </h1>
<section class="sec">
    <div class="products">
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/Images\pexels-level-media-3016430.jpg" alt=""></div>
            <div class="price">₹45,000 </div>
            <div class="box">
                
                <button class="btn"><a href="/payment">Buy Now</button></a>
                <button class="btn"><a href="/payment">Add Cart</button></a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/Images\dining_landing_img1.jpg" alt=""></div>
            <div class="price">₹40,000 </div>
            <div class="box">
                
                <button class="btn"><a href="/payment">Buy Now</button></a>
                <button class="btn"><a href="/payment">Add Cart</button></a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/Images\modern-kitchen-cabinet-design-for-your-home.jpg" alt=""></div>
            <div class="price">₹35,000 </div>
            <div class="box">
                
                <button class="btn"><a href="/payment">Buy Now</button></a>
                <button class="btn"><a href="/payment">Add Cart</button></a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/Images\95dacc287061c8a0a9e9e69614ac713d.jpg" alt=""></div>
             <div class="price">₹35,000 </div>
            <div class="box">
               
                <button class="btn"><a href="/payment">Buy Now</button></a>
                <button class="btn"><a href="/payment">Add Cart</button></a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/Images\RD_LaurelWay_0111_F-35c7768324394f139425937f2527ca92.jpg" alt=""></div>
            <div class="price">₹20,000 </div>
            <div class="box">
                
                <button class="btn"><a href="/payment">Buy Now</button></a>
                <button class="btn"><a href="/payment">Add Cart</button></a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/Images\data_kitchen-cabinet-mdf_piero-kitchen-cabinet_exotic-teak-finish_front.jpg" alt=""></div>
            <div class="price">₹25,000 </div>
            <div class="box">
                
                <button class="btn"><a href="/payment">Buy Now</button></a>
                <button class="btn"><a href="/payment">Add Cart</button></a>
            </div>
        </div>
        <!---cards ends-->
    </div>
</section>
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3><img src="/Images\sofa.png">   
                <span> MueblesPick</span>
            </h3>
            <p></p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +91 989422369 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i>  +91 8876453289 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> _mueblespick@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i>  Tamil Nadu, india - 6000002</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> features </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> products </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> categories </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> review </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> blogs </a>
        </div>

        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <input type="email" placeholder="your email" class="email">
            <input type="submit" value="subscribe" class="btn">
            <img src="/Images\payment.png" class="payment-img" alt="">
        </div>

    </div>

    

</section>

<!-- footer section ends -->









<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="table.js"></script>
<script src="addcart.js"></script>






</body>
</html>