<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login1.css">
</head>

<body background="/Images\istockphoto-1133601992-612x612.jpg"> 
    <div class="c1" >
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}

        <div class="container mt-5">
            <h3 class="title">Login</h3><br>
            <form name="Register-form" id="form" method="post" action="/auth/login">
            
                <div class="mb-3 mt-3">
                    <label for="email">Email or Username:</label>
                    <input style="font-size: 12px;"type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                    <p></p> 
                </div>
                <div class="mb-3 mt-3">
                    <label for="pwd">Password:</label>
                    <input style="font-size: 12px;" type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                    <p></p> 
                </div><br>
                <div class="c2">
                <a href="/index"><button type="submit" class="btn btn-primary" >Submit</button></a>
 
                </div><br>
                
                <p class="ac">Don't have a account?<a href="/register">Signup</a></p>
             
            </form>
        </div>
    </div>
    
</body>

</html>