<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Website </title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
    <link rel="stylesheet" href="/css/muebles.css">
   

</head>
<body>



    <header class="header">
    
        <div class="logo"> 
        <img src="/Images\sofa.png">   
        <span> MueblesPick</span>
        </div>
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <a href="login">
                <div class="fas fa-user" id="login-btn"></div>
            </a>
        </div>
    </header> 
    <section class="home" id="home">
        <div class="content">
            <h4>Muebles<span>Pick</span></h4>
            <h3>shop <span>ALL </span>you want</h3>
            <a href="login" class="btn">Shop now</a>
        </div>
    </section>  
    <div class="image">
        <img src="/Images\furniture-removebg-preview.png">
    </div>
   
    
    
</body>
</html>