<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body background="/Images\istockphoto-1133601992-612x612.jpg"> 
    <div class="c1" >
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}

        <div class="container mt-5">
            <h3 class="title">Register</h3><br>
            <form action="/auth/register" method ="post" name="Register-form" id="form" action="">
            
                <div class="mb-3 mt-3">
                    <label for="email">Email:</label>
                    <input style="font-size: 12px;"type="email" name ="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    <p></p> 
                </div>
                <div class="mb-3 mt-3">
                    <label for="uname">Username:</label>
                    <input style="font-size: 12px;" type="uname" name ="name"class="form-control" id="uname" placeholder="Enter Username" name="uname">
                    <p></p> 
                </div>

                <div class="mb-3 mt-3">
                    <label for="pwd">Password:</label>
                    <input style="font-size: 12px;" type="password" name ="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                    <p></p> 
                </div>
                <div class="mb-3 mt-3">
                    <label for="pwd">Confirm password:</label>
                    <input style="font-size: 12px;" type="password" name ="confirm_password" class="form-control" id="cpwd" placeholder="Enter Confirm password" name="cpwd">
                    <p></p> 
                </div>
                <div class="mb-3 mt-3">
                    <input class="form-check-input" type="checkbox" name="remember" id="checkbox"> Accept terms & condition<br>
                    <p></p>
                </div>
                <div class="c2">
                  <a href="/login"><button type="submit" class="btn btn-primary" >submit</button></a>
 
                </div>
                <div class="mb-3 mt-3">
                    <p class="ac">Already have  a account?<a href="/login">Sign in</a></p>
                </div>
            </form>
        </div>
    </div>
   
</body>

</html>