@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');



*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: #c91c75; border:#c91c75;
    outline-width: 10px;
    border-width: 10px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    
}
body{
    background-color: #ffb6c1;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}


section{
    padding:2rem 9%;
}



.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid #c91c75;;
    color:black;
    cursor: pointer;
    background: none;
}
.log .login-btn{
    width: 100px;
    height: 43px;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    right: 152px;
    top:30px;
    font-size: 25px;
    background-color: #e8e6e6;
    cursor: pointer;
    font-weight: 200px;
    font-family: 'Poppins', sans-serif;
}
.log .login-btn a{
    color: #000;
}

.log .login-btn:hover{
    background-color: #c91c75;
}


.btn:hover{
    background: #c91c75;;
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background: #ffb6c1;
    box-shadow:black; 
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:black;

}

.header .logo img{
    
    width:35px;
    height:35px;
    left:100px;
    top:23px;
    position:absolute;
    
   
    
    
}
.header .logo  span{
    color:grey;
    cursor: pointer;
  
   
}
.header .logo  span:hover{
    color:#c91c75;
   
}


.header .navbar ul{
    list-style:none;
}
header .navbar ul li{
    position:relative;
    float:left;
}
header .navbar ul li a{
    color:#000;
    text-decoration:none;
    font-size:1.6rem;
    padding:20px;
    display:block;
    font-weight: bold;
}
header .navbar ul li a:hover{
  background:#c91c75;
  color:#fff;
}
header .navbar ul li ul{
    position:absolute;
    left:0;
    width:200px;
    background: #fff;
    display:none;
}
header .navbar ul li ul li{
    width:100%;
    

}

header .navbar li:hover>ul{
    display:inline;
    color:#c91c75
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:black;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: #c91c75;
    color:black;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
   
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
   
    cursor: pointer;
}

.header .search-form label:hover{
    color:#c91c75;
}

.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    
    width:35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%; right:2rem;
    cursor: pointer;
    color:lightgrey;
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color:#c91c75;
}

.header .shopping-cart .box .content h3{
    color:black;
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color:black;
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color:black;
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}



.image img{
   height: 550px;
   margin-top: 100px;
   margin-left: 800px;
   border-radius: 100px;
   width: 600px;
   background-color: #ffb6c1;
   
   
   
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-top: 25rem;
    padding-bottom: 20rem;
    padding-right: 70rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:black;
    font-size: 3rem;
}
.home .content h3 span{
    color:#c91c75;
}
.home .content h4{
    color:black;
    font-size: 10rem;
}
.home .content h4 span{
    color:#c91c75;
}
.image img{
    height: 550px;
    margin-top: -800px;
    margin-left: 880px;
    border-radius: 100px;
    width: 600px;
    background-color: #ffb6c1;
    
    
    
 }


















/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }
    

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}